<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create New Task</title>
</head>
<body>
<H1>Create New Task</H1>
<form th:action="@{/new}" th:method="post" th:object="${task}">
  <label for="description">Description:</label><br>
  <input type="text" id="description" name="description" th:value="${task.description}"/><br>
  <label for="deadline">Deadline:</label><br>
  <input type="date" id="deadline" name="deadline" th:value="${task.deadline}"/><br>
  <label for="category">Category:</label><br>
  <select id="category" name="category">
    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" ></option>
  </select><br>
  <label for="completed">Completed:</label><br>
  <input type="checkbox" id="completed" name="completed" th:checked="${task.completed}"/><br>
  <button type="submit">Save</button>
</form>
</body>
</html>