<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<h1>Tasks</h1>
<table>
    <tr>
        <th>Description</th>
        <th>Deadline</th>
        <th>Category</th>
        <th>Completed</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td>
            <a th:href="@{/{id}(id=${task.id})}" th:text="${task.description}"></a>
        </td>
        <td th:text="${task.deadline}">Task Deadline</td>
        <td th:text="${task.category.name}">Task Category</td>
        <td th:text="${task.completed}">Task Completed</td>
    </tr>
</table>
<br><br>
<a href="/new">Create New Task</a>
<br>
<br>
<a href="/categories/show-categories">Show Categories</a>

</body>
</html>